html {
  box-sizing: border-box;
    padding: 0;
    margin: 0;
}


*{
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}


.wrapper{
  max-width: 1024px;
  margin: 0 auto;
}


picture img {
	width: 100%; 
    height: auto;
    display: inline-block;
    /*padding: 2px;*/
}

ul{
    display: inline-block;
    list-style: none;
}

li{
    display: inline-block;
    float: left;
}



/* -- Footer -- */
.footer{
    clear:both;
  background: #111;
  text-align: center;
  color: #fff;
}


/*@media all and (min-width: 600px) and (max-width: 1020px){
    
    ul{
        column-count: 2;
    }
    
}


@media all and (min-width: 1020px) {
    
    ul{
        column-count: 3;
    }
    
}*/